:root {
    --white: #fefefe;
    --offWhite: #e4e4e4;
    --darkGray: #141517;
    --gray: #545352;
    --lightGray: #c4c4c4;
    --primary: #f9c790;
    --secondary: #e39a72;
    --accent: cadetblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--primary);
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 600;
}

ul {
    list-style: none;
}

main {
    padding: 10rem 1.5rem 0;
}

h1 {
    color: var(--white);
    line-height: 1;
    font-size: 8.5rem;
    font-weight: 800;
}