@import 'base.css';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    background-color: var(--darkGray);
}

.wrapper {
    width: 60em;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.bg-cover {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

header {
    position: sticky;
    padding: 1.5rem;
    /* background-color: var(--white); */
    top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

menu {
    padding-left: 3rem;
}

menu a {
    margin: 0 1rem;
}

.social {
    /* color: var */
    font-size: 2rem;
}

.social a {
    margin-left: 1rem;
}

.nav--background {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--darkGray);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translateY(-15rem);
    transition: all 400ms ease-in-out;
}

section {
    padding: 15rem 0;
}

section h2 {
    padding-bottom: 1.5rem;
    color: var(--white);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

section .container {
    height: 50rem;
    background-color: var(--darkGray);
    padding: 1.5rem;
}