* {
  box-sizing: border-box; }

body {
  font-family: 'Avenir', sans-serif; }

header {
  padding: 5em;
  text-align: center; }
  header h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: .25em; }

main {
  display: flex;
  justify-content: center; }

.itemList, .availableItems {
  width: 7.5em;
  margin: 0 1em;
  padding: 1em;
  text-align: center; }

ol, ul {
  list-style: none; }

.itemList li {
  padding: .25em;
  margin: .25em 0; }

.availableItems li {
  padding: .25em;
  margin: .25em 0; }
