/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* Base Styles */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'avenir next', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* Header */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

header {
  background: rgb(83, 64, 143);
  color: rgb(154, 135, 213);
  padding: 5em 7em;
}

header h1 {
  color: #FFFFFF;
}

header p {
  font-weight: 300;
  margin: 0;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* Typography */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

h1, h2, h3,
h4, h5, h6 {
  font-family: baskerville, serif;
  line-height: 1;
  margin: 0;
  color: rgb(38, 39, 51);
  font-weight: 600;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3.5em;
  letter-spacing: .25em;
  margin-right: -.25em;
  padding: 1em 0;
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* Sections */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

section {
  padding: 7em 0;
}

section div {
  max-width: 50em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

section div h2 {
  width: 100%;
  text-align: center;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* Default Button Styles */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.btn, .btn-default {
  font-size: 1em;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  padding: 1em 2em;
  background: rgb(154, 135, 213);
  color: #ffffff;
  transition: all 250ms ease-in-out;
  transform: perspective(1em) translateZ(0);
  margin: .5em;
}

.outlined {
  background: transparent;
  border: 1px solid rgb(154, 135, 213);
  color: rgb(154, 135, 213);
}

.outlined:hover {
  border-color: rgb(47, 35, 85);
  color: #FFFFFF;
}

.btn-default:hover {
  background: rgb(47, 35, 85);
}



/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/* Button Hovers */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/* slide right */
.slide-right:before {
  content: "";
  position: absolute;
  background: rgb(47, 35, 85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 250ms ease-in-out;
}

.slide-right:hover:before {
  transform: scaleX(1);
}

/* slide-left */
.slide-left:before {
  content: "";
  position: absolute;
  background: rgb(47, 35, 85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 250ms ease-in-out;
}

.slide-left:hover:before {
  transform: scaleX(1);
}

/* slide up */
.slide-up:before {
  content: "";
  position: absolute;
  background: rgb(47, 35, 85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 250ms ease-in-out;
}

.slide-up:hover:before {
  transform: scaleY(1);
}

/* slide down */
.slide-down:before {
  content: "";
  position: absolute;
  background: rgb(47, 35, 85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 250ms ease-in-out;
}

.slide-down:hover:before {
  transform: scaleY(1);
}

/* bounce right */
.bounce-right:before {
  content: "";
  position: absolute;
  background: rgb(47, 35, 85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 250ms ease-in-out;
}

.bounce-right:hover:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.77, 1.57, 0.51, 0.65);
}

/* bounce-left */
.bounce-left:before {
  content: "";
  position: absolute;
  background: rgb(47, 35, 85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 250ms ease-in-out;
}

.bounce-left:hover:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.77, 1.57, 0.51, 0.65);
}

/* bounce up */
.bounce-up:before {
  content: "";
  position: absolute;
  background: rgb(47, 35, 85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 250ms ease-in-out;
}

.bounce-up:hover:before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.77, 1.57, 0.51, 0.65);
}

/* bounce down */
.bounce-down:before {
  content: "";
  position: absolute;
  background: rgb(47, 35, 85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 250ms ease-in-out;
}

.bounce-down:hover:before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.77, 1.57, 0.51, 0.65);
}

/* lift shadow */
.lift-shadow:hover {
  transform: translateY(-.25em);
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.75);
  color: rgb(47, 35, 85);
}

/* grow shadow */
.grow-shadow:hover {
  transform: translateY(-.25em) scale(1.1);
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.75);
  color: rgb(47, 35, 85);
}

/* glow */
.glow:hover {
  box-shadow: 0 3px 15px 0 rgba(213, 161, 135, 0.75);
  color: rgb(47, 35, 85);
}
