// variables
$purple: #3d195b

*
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  font-size: 16px
  font-family: 'San Francisco',-apple-system,BlinkMacSystemFont,'.SFNSText-Regular',Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif

a
  text-decoration: none

header
  padding: 1.75em
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid whitesmoke
  background-repeat: no-repeat
  background-position: center
  background-size: contain

nav a
  margin-left: 1em

main
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 2.5em 0

.leagueLogo
  padding: 2.5em 0

.leagueTable
  width: 70em
  // min-height: 2em
  border-collapse: collapse

.leagueTableHeader
  opacity: 0
  tr th
    padding: 1.25em
    font-weight: 600
    font-size: .75em
    color: darken(whitesmoke, 50%)

.header--club
  width: 35%

tbody
  background: whitesmoke

  tr td
    padding: .75em 1.25em
    text-align: center
    border-bottom: 1px solid darken(whitesmoke, 10%)

.club
  p
    margin: 0
    display: flex
    align-items: center

    .crest
      width: 2.25em
      height: 2.25em
      background-repeat: no-repeat
      background-size: contain
      background-position: center

    .clubName
      padding-left: 1em

// helpers
.text-left
  text-align: left

.text-center
  text-align: center
